body {
    text-align: center;
}

#main-grid-contain {
    display: grid;
    justify-content: center;
    grid-gap:0px;
    margin-bottom: 35px;
}

button {
    display: inline-block;
    margin: 20px;
}

#main-grid-contain > div {
    color: black;
    background-color: #FFFFFF;
    color: #fff;
    
    border-width: 1px;
    border-color: black;
    border-style: solid;
    
}



#main-grid-contain > div.darkcell {
    background-color: #444;
}   