#main-grid-contain {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

#cell {
    background-color: #FFFFFF;
    color: #fff;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    padding: 20px;
}

#darkcell {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}